section {
  padding-top: 40px;
}

.blog {
  &__image {
    min-width: 250px;
    max-width: 250px;
  }
  &__info {
    margin-left: 20px;
  }
}

.btng {
  margin-top: 20px;
}

.results {
  color: #c90013;
}