<section>
  <!-- Title Section -->
  <div class="bTitle">
    <h2 class="bTitle__title">
      Recent Posts
    </h2>
  </div>
  <!-- Title Section -->

  <!-- Blog -->
  <div class="blog d-flex" *ngFor="let post of allPosts | slice: (page - 1) * pageSize:page * pageSize">
    <!-- Blog Image -->
    <div class="blog__image" (click)='readPost(post?._id, post?.title)'>
      <img class="blog__img" src="{{ post?.image }}">
    </div>
    <!-- Blog Image -->

    <!-- Blog Info -->
    <div class='blog__info'>
      <div class="blog__tag" (click)='categories(post?.tag, post?.tag)'>
        <span>
          {{ post?.tag }}
        </span>
      </div>

      <!-- Blog Title -->
      <h2 class="blog__title" (click)='readPost(post?._id, post?.title)'>
        {{ post?.title }}
      </h2>
      <!-- Blog Title -->

      <!-- Blog Meta -->
      <div class="blog__meta">
        <span class="blog__author">
          <i class="far fa-user"></i> 
          {{ post?.author }}
        </span>
        <span class="blog__date">
          <i class="far fa-calendar-alt"></i>
          {{ post?.date | date }}
        </span>
      </div>
      <!-- Blog Meta -->

      <!-- Blog Button -->
      <button class="btng" (click)="readPost(post?._id, post?.title)">
        Read more
      </button>
      <!-- Blog Button -->
    </div>
    <!-- Blog Info -->
  </div>
  <!-- Blog -->

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="allPosts?.length">
  </ngb-pagination>
</section>
