.ads {
  margin-bottom: 30px;
  &__body {
    background-color: #f2f2f2;
    height: 250px;
    border-radius: 10px;
  }
  &__item {
    color: #626262;
    font-size: 14px;
    font-style: italic;
  }
}