.scrolltop {
  background-color: var(--main-color);
  right: 50px;
  bottom: 30px;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  i {
    transition: transform .1s;
  }
  &:hover {
    i {
      transform: translateY(-3px);
    }
  }
}