.blog {
  position: relative;
  margin: 0 6px 20px;
  &__img {
    height: 240px;
  }
  &__info {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0),
     rgba(0, 0, 0, 0.7));
    width: 100%;
    z-index: 4;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  &__title {
    color: #fff;
  }
  &__meta {
    color: #f0f0f0;
  }
}

