<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <!-- Title Section -->
        <div class="bTitle">
          <h2 class="bTitle__title">
            <span>{{ tag }}</span>
          </h2>
        </div>
        <!-- Title Section -->

        <!-- Blog -->
        <div class="blog" *ngFor="let post of allPosts | slice: (page - 1) * pageSize:page * pageSize">
          <!-- Blog Image -->
          <div class="blog__image" (click)='readPost(post?._id, post?.title)'>
            <img class="blog__img" src="{{ post?.image }}">
          </div>
          <!-- Blog Image -->

          <!-- Blog Info -->
          <div class='blog__info'>
            <!-- Blog Title -->
            <h2 class="blog__title" (click)='readPost(post?._id, post?.title)'>
              {{ post?.title }}
            </h2>
            <!-- Blog Title -->

            <!-- Blog Meta -->
            <div class="blog__meta">
              <span class="blog__author">
                <i class="far fa-user"></i> 
                {{ post?.author }}
              </span>
              <span class="blog__date">
                <i class="far fa-calendar-alt"></i>
                {{ post?.date | date }}
              </span>
            </div>
            <!-- Blog Meta -->

            <p class="blog__snippet">
              {{ post?.paragraph }}
            </p>
            
            <!-- Blog Button -->
            <button class="btng" (click)="readPost(post?._id, post?.title)">Read more</button>
            <!-- Blog Button -->

          </div>
          <!-- Blog Info -->
        </div>
        <!-- Blog -->

        <!-- Blog Pagination -->
        <ngb-pagination *ngIf='allPosts?.length >= 7'
          [(page)]="page"
          [pageSize]="pageSize"
          [collectionSize]="allPosts?.length">
        </ngb-pagination>
        <!-- Blog Pagination -->

        <div class="results" *ngIf='allPosts?.length <= 0'>
          <h4 class="p-2">
            This category does not exist
          </h4>
        </div>

      </div>
      <div class="col-lg-4">
        <app-aside></app-aside>
      </div>
    </div>
  </div>
</section>