<div>
  <!-- Title Section -->
  <div class="bTitle">
    <h2 class="bTitle__title">
      Social Plugin
    </h2>
  </div>
  <!-- Title Section -->

  <!-- social -->
  <div class="social">
    <a class="social__link social__link--facebook" href="#" target="_blank">
      <i class="social__icon fab fa-facebook-f"></i>
    </a>
    <a class="social__link social__link--twitter" href="#" target="_blank">
      <i class="social__icon fab fa-twitter"></i>
    </a>
    <a class="social__link social__link--linkedin" href="https://www.linkedin.com/in/ahmedbfront/" target="_blank">
      <i class="social__icon fab fa-linkedin-in"></i>
    </a>
    <a class="social__link social__link--pinterest" href="#" target="_blank">
      <i class="social__icon fab fa-pinterest"></i>
    </a>
  </div>
  <!-- social -->
</div>